.paper.input, .paper.textarea, .paper.select {
    position: relative;
    display: inline-block;
    background-color: #eee;

    &.outlined {
        background-color: transparent;
        border: 1px solid $color-text;
    }

    .icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0.7rem;
    }

    .icon ~ input, .icon ~ textarea, .icon ~ select {
        padding-left: 3rem;
    }

    input, textarea, select {
        width: 100%;
        height: inherit;
        padding: 10px 20px;
        border: none;
        font-size: 1rem;
        background-color: transparent;
    }

    textarea {
        padding: 20px;
    }
}
