.gt.switch {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    position: relative;
    margin-right: 0.5em;

    input[type=checkbox]+.check:before {
        content: "";
        display: block;
        border-radius: 40px;
        width: 1.175em;
        height: 1.175em;
        background: #f3f4f6;
        box-shadow: 0 3px 1px 0 rgb(0 0 0 / 5%), 0 2px 2px 0 rgb(0 0 0 / 10%), 0 3px 3px 0 rgb(0 0 0 / 5%);
        transition: transform .15s ease-out;
        will-change: transform;
        transform-origin: left;
    }

    input[type=checkbox]:checked+.check:before {
        transform: translate3d(100%,0,0);
    }

    .check {
        background-color: #9ca3af;
        width: 2.75em;
        height: 1.575em;
        padding: 0.2em;
        transition: background .15s ease-out,box-shadow .15s ease-out;
        border-radius: 290486px;
        display: flex;
        text-align: center;
    }

    input[type=checkbox]:checked ~ .check {
        background-color: $color-accent;
    }

    .label {
        padding-left: .75em;
    }
    
    input[type="checkbox"] {
        display: none;
    }
}